# Assignment 01

This notebook contains some examples for you try out and some problems to solve.

## Fun with strings

In python strings are enclosed in either single quotes or double quotes. Both are equivalant and python usually displays it with single quotes.

In [5]:
"hello"

'hello'

In [6]:
'hello'

'hello'

### Adding Strings

You can add two strings.

In [7]:
"hello" + "world"

'helloworld'

In [8]:
"hello" + "--" + "world"

'hello--world'

We can also use variables.

In [9]:
name = "Alice"

In [12]:
message = "Hello, " + name + "!"

In [13]:
message

'Hello, Alice!'

In [14]:
print(message)

Hello, Alice!

Jupyterlab always displays the _representation_ of value. In case of strings, that means with quotes. 

We can use `print` if we just want to display the text.

### Repeating Strings

We could repeat a string multiple times by using `*` operators.

In [15]:
"hello" * 5

'hellohellohellohellohello'

You may read that as _hello five times_.

Got it! You deserve 5 stars!!

In [16]:
'*' * 5

'*****'

### Special Characters

Sometimes we have to deal with some special characters like newline. Python uses a special syntax for describing them. For example, a new-line character is written as `\n`. Even thought that looks like two characters, python treatst that as a single character.

In [27]:
'a\nb'

'a\nb'

In [28]:
print('a\nb')

a
b

The `\n` is a special character when printed moved the subsequent text to the next line.

In [29]:
print("*\n**\n***")

*
**
***

In [30]:
name1 = "Lay Zy"
name2 = "Eva Lu Ator"

print(name1 + "\n" + name2)

Lay Zy
Eva Lu Ator

**Problem 1:** Can you display 5 starts without the quotes?

**Problem 2:** _Le Zy_, a young programmer, is trying to print a line as shows below. It is made of hyphen (`-`) characters and there are exactly 40 of them. She finds it too confusing to count the number of characters. Can you help her generate that with some Python code?

```
----------------------------------------
```

**Problem 3:** Can you try to generate the following pattern using python code? It has exactly 20 hyphen (`-`) characters.

```
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
```

**Problem 4:** `Lay Zy` has been generating the lines like you did in the above problem. She is not particularly happy doing the same thing again and again. Can you help her with a generalized solution to generate the pattern given a value of `n` indicating the number of hyphens in the pattern?  

She wants to be able to change the value of `n` to generate a new pattern with a different length.

In [22]:
n = 25

In [25]:
# please write your code below to generate pattern with n hyphens

**Problem 5:** _Lay Zy_ is very exicted about the above solution and she showed it to her friend _Eva Lu Ator_. _Eva_ chanllenged her to extend it further 
by repeating the same pattern in multiple lines. 

```
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
```

This has the pattern repeated in 5 lines with each line having 20 hyphens. _Eva_ wanted to specify these two numbers as `m` and `n`. Can you help _Lay_ solve this?

In [31]:
# pattern repeated in 5 lines with each pattern having 20 hyphens
m = 5
n = 20

In [ ]:
# your code below this line

## Counting Up and Down

Python has a `range` function that is used to loop over a sequence of numbers.

### `range(n)` - numbers from `0` to `n-1`

The following example prints numbers from 0 to 4.

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

Please note that `range(n)` contains numbers from `0` to `n-1`. A total of `n` numbers, but the number `n` is not included.

If you try with `range(3)`, you will get numbers `0`, `1` and `2`.

Please remember that we are using a `for` loop here and the body of the for loop must be indented.

For example, the following is a WRONG way to write it. 

```
for i in range(5):
print(i)
```

Python would complain if you write it like that. You need to give spaces before each line that is part of the `for` loop. Typically 4 spaces are used. However, you can also press the `Tab` key and most editors replace that with 4 spaces.

### `range(a, b)` - numbers from `a` to `b-1`

The `range` function can be called with two arguments - `begin` and `end`. 

`range(a, b)` gives numbers `a`, `a+1`, ..., `b-1`. Again the end number `b` is not inlcuded.

In [2]:
for i in range(2, 5):
    print(i)

2
3
4

### range(a, b, c) - numbers from `a` until `b-1` in steps of `c`

All even numbers below 10.

In [3]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

Numbers from 2 to 20 in steps of 3.

In [4]:
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

If we want to count down, we could do by using `-1` for the third argument.

In [32]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

`range(5, 0, -1)` starts from `5` goes up to 0 (the `0` itself is not included) and changes the number by `-` in each step.

**Problem 6:** Write a program to all multiples of 5 less than 100.

**Problem 7:** Write a program to print the following pattern.


```
*
**
***
****
*****
```

**Problem 8:** Write a program to print the following pattern.

```
*****
****
***
**
*
```

**Problem 9:** Write a program to print the following pattern.

```
@
@-@
@-@-@
@-@-@-@
@-@-@-@-@
@-@-@-@-@-@
```

**Problem 10:** Write a program that uses the value of variable `n` to starts from `1` to `n` and back to `1`.

If `n` is 5, the output would be the following:

```
*
**
***
****
*****
****
***
**
*
```

If you change the value of `n`, the number of lines would change accordingly.

In [34]:
n = 5

In [36]:
# your code below this line

**Problem 11:** _Lay Zy_ is very impressed with the her solution to the above problem. When she showed it to her friend _Eva_, she challenged her to make this pattern.

For `n=5`:

```
@
@-@
@-@-@
@-@-@-@
@-@-@-@-@
@-@-@-@-@-@
@-@-@-@-@
@-@-@-@
@-@-@
@-@
@
```

Again, if you change the value of `n`, the number of lines would change accodingly.

In [ ]:
n = 5

In [35]:
# your code below this line